.app {
  background-color: #dadbd3;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app_body {
  display: flex;
  background-color: #ededed;
  width: 90vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: -10px;
}
