.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.login-container {
  padding: 100px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
.login-container > img {
  height: 100px;
  margin-bottom: 40px;
}
.login-container > button {
  margin-top: 50px;
  padding: 10px;
  text-transform: inherit !important;
  background-color: #0a8d48;
  color: white;
}
.login-container > button:hover {
  background-color: #0a8d48;
  color: white;
}
