/* HEADER */
.sidebar {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
}
.header {
  border-radius: 10px 0 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid lightgray;
  padding: 10px 20px;
  background-color: #ededed;
}
.right {
  display: flex;
  min-width: 10vw;
  justify-content: space-between;
}
.right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
/* HEADER ENDS */

/* SEARCH */
.search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 25px;
}
.wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.wrapper > input {
  outline: none;
  border: none;
  margin-left: 20px;
  width: 90%;
}
.wrapper > .MuiSvgIcon-root {
  color: gray;
}
/* SEARCH ENDS */

/* SIDEBAR CHAT */
.sidebar_chats {
  overflow-y: scroll;
}
.sidebar_chat,
.addNewChat {
  display: flex;
  padding: 20px;
  border-bottom: 1.55px solid #f6f6f6;
  cursor: pointer;
}
.addNewChat {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-family: cursive;
}
.sidebar_chat:hover {
  background-color: #ededed;
}
.addNewChat:hover {
  background-color: #ededed;
}
.sidebarChat_info {
  margin-left: 15px;
}
.sidebarChat_info > h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
.sidebarChat_info > p {
  font-size: 14px;
}
/* SIDEBAR CHAT ENDS */
